
<div class="hero" style="margin-top: 10px">
  <div class="frosty col-10 offset-1 text-center">
    <br>
    <h1>Time Zen &amp; Other Courses</h1>
    <br>
    <h2>Improve your life with Monroe Mann</h2>
    <br>
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
    <br><br>
  </div>
</div>

<br />

<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Improve your productivity and accomplishment track record</h3>
    <p>You can indeed get far more accomplished than you think you can.</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Learn how to juggle multiple projects simultaneously</h3>
    <p>Get rid of that old wive's tale about doing one thing at a time once and for all</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Gain 96 hours of productivity out of every 24-hour day</h3>
    <p>No, you won't learn how to bend time, but you will learn how to become more efficient than you've ever before been.</p>
  </div>
</div>
